body {background-color:black;font-family: Arial;color: white;}
h1{color:grey;font-family: Verdana, Geneva, Tahoma, sans-serif;}
mark{background-color: yellow;color: black;}
.maindiv {background-color:white; color:black; padding: 20px; border-radius: 25px;align-content:center;}
div {margin-bottom: 10px;}
input{text-align: right;}
title{text-align: right;}

